//=================================================================
//==========================HEADER=================================
//=================================================================

@media (max-width: 768px){
    .header__booking{
        flex-direction: column;

    }
    .header__booking-text{
        margin-bottom: 5px;
    }
}
@media (max-width: 560px){
    .header__booking-text{
        display: none;
    }
    .header__logo-link{
        width: 100%;
    }
    .header__booking{
        width: 100%;
        text-align: left;
    }
    .burger{
        z-index: 100;
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 26px;
        right: 22px;
        &__line{
        height: 3px;
        background-color: #FFF;
        width: 40px;
        position: relative;
        }
        &__line::before,
        &__line::after{
        transition: all .5s ease-out;
        content: '';
        height: 3px;
        background-color: #FFF;
        width: 40px;
        position: absolute;
        top: 0;
        left: 0;
        }

        &__line::before{
        top: -11px;
        }
        &__line::after{
        top: 11px;
        }
    }

    .header__menu{
        position: absolute;
        top: -100%;
        left: 0;
        border: none;
        z-index: 100;
        min-height: 200px;
        background: #886239e7;
        transition: all .5s;
    }
    .header__menu.active{
        top: 0;
    }
    .header__menu-list{
        flex-direction: column;
        align-items: center;
    }
    .header__menu-item{
        margin-bottom: 20px;
        font-size: 28px;
    }

    .active.burger__line::before{
        transform: rotate(45deg);
        top: 0;
    }
    .active.burger__line::after{
        transform: rotate(-45deg);
        top: 0;
    }
    .active.burger__line{
        width: 0;
        }

    .header__title{
        font-size: 60px;
    }
    .header__description{
        font-size: 16px;
        width: 100%;
        text-align: center;
        align-self: center;
    }
    .header__btn{
        align-self: center;
    }

    .header__top{
        margin-bottom: 15px;
    }

}
@media (max-width: 375px){
    .header__logo-link{
        display: block;
        width: 240px;
    }
    .header__logo-img{
        width: 100%;
    }

}

//=================================================================
//===============================OFFER=============================
//=================================================================

@media (max-width: 920px){
    .offer__inner{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

}

@media (max-width: 620px){
    .offer__inner{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 50px 0;
    }


}

@media (max-width: 414px){
    .offer__inner{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

//=================================================================
//==============================DIRECTIONS=========================
//=================================================================


@media (max-width: 820px){
    .directions__items{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px;
    }
}

@media (max-width: 620px){
    .directions__items{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }

}

@media (max-width: 520px){
    .directions__item{
        text-align: center;
    }
    .directions__items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

//=================================================================
//============================POPULAR==============================
//=================================================================

@media (max-width: 820px){
    
.popular__item--big {
    grid-column: span 1;
    grid-row: span 1;
    
}
.popular__items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.popular__item--big .popular__link-title {
    font-size: 18px;
}

}

@media (max-width: 650px){
.popular__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
.popular__inner {
    padding: 50px 0;
}
}

@media (max-width: 520px){
.popular__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}
.popular__item {
    min-height: 400px;
}
}

//=================================================================
//==============================MAP================================
//=================================================================

@media (max-width: 920px){
.map__inner {
    padding: 50px 0;
}
}

@media (max-width: 720px){
.map__item {
    min-height: 400px;
}
}

//=================================================================
//===========================TOURS=================================
//=================================================================

@media (max-width: 1024px){
.tours__description{
    max-width: 50%;
}
.tours__popup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tours__popup-img{
    width: 100%;
}

}

@media (max-width: 820px){

.tours__inner {
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.tours__description {
    max-width: 100%;
    padding: 0 10px;
}
.tours__title {
    text-align: center;
}

.tours__descriptio-link{
    text-align: center;
    margin-bottom: 30px;
}
}


//=================================================================
//===============================GALLERY===========================
//=================================================================

@media (max-width: 1150px){
.gallery__item {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}
.gallery__link img{
    width: 100%;
}
}

@media (max-width: 560px){
.gallery__top{
    flex-direction: column;
    align-items: flex-start;
}
.gallery__link{
    text-align: left;
}
.gallery__title {
margin-bottom: 15px;
}
.gallery__inner {
    padding: 50px 0;
}
}

@media (max-width: 520px){
.gallery__item {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
}

.right-arrow {
top: -70px;
}
.left-arrow {
top: -70px;
}
}

//=================================================================
//============================PREMIUM==============================
//=================================================================


@media (max-width: 1024px){
.premium__values {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
}

@media (max-width: 620px){
.premium__values {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.premium__value {
    font-size: 36px;
}
.premium__value span {
    font-size: 16px;
}
.premium__inner{
    padding: 50px 0;
}
.premium__column {
    column-count: 1;
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9DE;
    margin-bottom: 40px;

}
.premium__title {
    margin-bottom: 40px;
}
}

@media (max-width: 414px){
.premium__values {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}
}

//=================================================================
//=============================BOOKING=============================
//=================================================================


@media (max-width: 840px){
    .booking__checkbox-label {
        display: block;
        margin-left: 0;
        margin-top: -103px;
}

.booking__inner {
    padding: 50px 0 140px;
}
}

@media (max-width: 768px){
.booking__inputs {
    flex-direction: column;
    justify-content: center;

}
.booking__input{
    max-height: 44px;
    margin-right: 0;

}
}

@media (max-width: 768px){
.booking__inputs {
    flex-direction: column;
    justify-content: center;

}
.booking__input{
    max-height: 44px;
    margin-right: 0;

}
}

@media (max-width: 430px){
.booking__checkbox-label {
        margin-top: -113px;
}
}

@media (max-width: 375px){
.booking__checkbox-style {
    top: 6px;
}
}

//=================================================================
//==============================FOOTER=============================
//=================================================================

@media (max-width: 650px){
.footer__inner{
    padding: 50px 0;
}
.footer__info{
    align-items: center;
    flex-direction: column;
}
.footer__text{
    margin: 0px 0px 20px 0px;
}
.footer__text:nth-child(1){
    order: 3;
}
.footer__text:nth-child(2){
    order: 1;
}
.footer__text:nth-child(3){
    order: 2;
}
.footer__logo-link {
    margin-bottom: 30px;
}
}




